---
layout: archive
title: ""

permalink: /cv/
author_profile: false
redirect_from:
  - /wordpress/cv/
---


{% include base_path %}
{% capture written_label %}'None'{% endcapture %}

<!-- <a style="line-height: 1.5;" href="http://www.stuartgeiger.com/geiger-cv.pdf"><span style="color: #333333;"><span style="font-size: medium;">Also available in PDF format.</span></span></a> -->
<h1 class="western" align="center"><b>Arun Kumar</b></h1>
<p style="line-height: 1.5;" align="center"><span style="font-size: medium;"><b>Curriculum Vitae</b> </span></p>
<p style="line-height: 1.5;" align="center"><span style="font-size: medium;">arunkumar12@iisc.ac.in | <a href="http://arunkrweb.github.io/">http://arunkrweb.github.io</a> | <a href="http://www.twitter.com/ioarun">@ioarun</a> | <a href="http://is.gd/geiger_cites">Google Scholar</a></span></p>

<h2 class="western">Education:</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>Proficience Course, </b></span><strong><span style="font-size: medium;"><b> Introduction to Artificial Intelligence</b></span></strong><span style="font-size: medium;"><b>, Indian Institute of Science</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Duration:</b></span></strong><span style="font-size: medium;"> Jan 2017 - May 2017</span></li>
  <li><b><span style="font-size: medium;">Project: </b></span><span style="font-size: medium;">Self Driving Car using Pygame and Python</span></li>
 	<li><span style="font-size: medium;"><b>Advisor:</b></span><span style="font-size: medium;"> Prof. H K Devi</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>B.E., Electronics and Telecommunication Engineering</b>, <b>University of Pune</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Duration:</b></span></strong><span style="font-size: medium;"> Jul 2012 - May 2016</span></li>
 	<li><span style="font-size: medium;"><b>Bachelor’s Thesis</b>: Implementing Physical Web using nrf8001 (BLE)</li</span>
 	<li><span style="font-size: medium;"><b>Advisor: </b>Prof.</span><span style="font-size: medium;"> Surekha K S</span></li>
</ul>
</li>
</ul>

<h2 class="western">Research Interests and Skills:</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>Machine Learning:</b> Tensorflow, Python</span></li>
 	<li><span style="font-size: medium;"><b>Reinforcement Learning:</b> OpenAI Gym</span></li>
  <li><span style="font-size: medium;"><b>Robotics:</b> ROS, Gazebo, C++</span></li>
 	<li><span style="font-size: medium;"><b>Others:</b> IOT & Embedded Systems</span></li>
</ul>
<h2>Employment</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span style="font-size: medium;"><b>Project Associate</b>, Robert Bosch Center for Cyber Physical Systems (Jul 2018 to present)</span></li>
  <li><span style="font-size: medium;"><b>Project Assistant</b>, Indian Institute of Science (Jan 2017 to Jun 2018)</span></li>
  <li><span style="font-size: medium;"><b>Software Engineer</b>, Cardiotrack, Bangalore (May 2016 to Dec 2016)</span></li>
  <li><span style="font-size: medium;"><b>Software Engineering Intern</b>, GS Lab, Bangalore (Aug 2015 to Mar 2016)</span></li>
  <li><span style="font-size: medium;"><b>Project Intern</b>, Bharat Forge, Bangalore (Nov 2014 to Mar 2015)</span></li>
  <li><span style="font-size: medium;"><b>Summer Intern</b>, Texas Instruments (Aug 2015 to Mar 2016)</span></li>
</ul>

<h2>Projects</h2>
<!--   <ul>{% for post in site.articles %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
 -->
<ul>


  <div class="list__item">
  <article class="archive__item" >
    <li>
    
    <h3 class="archive__item-title" itemprop="headline">
      
        <a href="http://localhost:4000/articles/2009-10-01-gnovis-habermas-understand-internet" rel="permalink">Speech Controlled Robot
        </a>
      
    </h3>
    
    <p class="archive__item-excerpt" itemprop="description">Turned a Line Tracer Robot into voice controlled robot using Raspberry Pi and Google Speech API.</p> 
    </li>
 </article>
</div>



<div class="list__item">
  <article class="archive__item" >
    <li>
    
    <h3 class="archive__item-title" itemprop="headline">
      
        <a href="http://localhost:4000/articles/2009-10-01-gnovis-habermas-understand-internet" rel="permalink">IoT Aqua
        </a>
      
    </h3>
    
  <p class="archive__item-excerpt" itemprop="description">Won 2nd runner up at Intel IoT Hackathon, Pune(2015) for making a prototype of smart aquarium using
Intel Edison which maintains optimum level of oxygen,temperature and light intensity in the tank and sending these parameters to the owner on his mobile/computer or any other MQTT enabled device.</p> 
    </li>
 </article>
</div>


<div class="list__item">
  <article class="archive__item" >
    <li>
    
    <h3 class="archive__item-title" itemprop="headline">
      
        <a href="http://localhost:4000/articles/2009-10-01-gnovis-habermas-understand-internet" rel="permalink">Galileo Link
        </a>
      
    </h3>
    
  <p class="archive__item-excerpt" itemprop="description">A hobby project which is an IoT implementation. It connects my room to facebook . The updates from
my room are posted on Facebook. This is Python and Facebool Graph API based project that runs on Intel Galileo Gen 2.</p> 
    </li>
 </article>
</div>



<div class="list__item">
  <article class="archive__item" >
    <li>
    
    <h3 class="archive__item-title" itemprop="headline">
      
        <a href="http://localhost:4000/articles/2009-10-01-gnovis-habermas-understand-internet" rel="permalink">IBM Bluemix IoT Service with Python
        </a>
      
    </h3>
    
  <p class="archive__item-excerpt" itemprop="description">Publishing and visualising CPU utilisation data on IBM Bluemix cloud
service using MQTT.</p> 
    </li>
 </article>
</div>



<div class="list__item">
  <article class="archive__item" >
    <li>
    
    <h3 class="archive__item-title" itemprop="headline">
      
        <a href="http://localhost:4000/articles/2009-10-01-gnovis-habermas-understand-internet" rel="permalink">Mail-Checker
        </a>
      
    </h3>
    
  <p class="archive__item-excerpt" itemprop="description">An email notifier using Intel Galileo Gen2 Board running Python Script that used IMAPClient to check unread mails and turn ON the LED and turns it OFF when there are no unread emails.</p> 
    </li>
 </article>
</div>



<div class="list__item">
  <article class="archive__item" >
    <li>
    
    <h3 class="archive__item-title" itemprop="headline">
      
        <a href="http://localhost:4000/articles/2009-10-01-gnovis-habermas-understand-internet" rel="permalink">Wearable Electronics
        </a>
      
    </h3>
    
  <p class="archive__item-excerpt" itemprop="description">A glove that held a device made of MSP430 (low power uC) and a HC-05 bluetooth module
that was used to send commands to a bluetooth interfaced music player which played .wav files stored on the microSD
card .</p> 
    </li>
 </article>
</div>


<div class="list__item">
  <article class="archive__item" >
    <li>
    
    <h3 class="archive__item-title" itemprop="headline">
      
        <a href="http://localhost:4000/articles/2009-10-01-gnovis-habermas-understand-internet" rel="permalink">Door Defender
        </a>
    </h3>
    
  <p class="archive__item-excerpt" itemprop="description">Automatic visitor/intruder detection system using Beaglebone Black. The device clicks the
photograph of the visitor and records the voice message and sends it to the house owner’s Gmail account.The protocol
used is SMTP.</p> 
    </li>
 </article>
</div>



<div class="list__item">
  <article class="archive__item" >
    <li>
    
    <h3 class="archive__item-title" itemprop="headline">
      
        <a href="http://localhost:4000/articles/2009-10-01-gnovis-habermas-understand-internet" rel="permalink">E-Lamp
        </a>
    </h3>
    
  <p class="archive__item-excerpt" itemprop="description">An electronic inauguration lamp based on low power MSP430 microcontroller that works just like a traditional inauguration lamp.</p> 
    </li>
 </article>
</div>



<div class="list__item">
  <article class="archive__item" >
    <li>
    
    <h3 class="archive__item-title" itemprop="headline">
      
        <a href="http://localhost:4000/articles/2009-10-01-gnovis-habermas-understand-internet" rel="permalink">Voltage Regulator and Wireless Control
        </a>
    </h3>
    
  <p class="archive__item-excerpt" itemprop="description">An arduino based voltage regulator that has been used to control the speed of a fan(230V/50Hz). The voltage control is done by triac ,optocoupler and the arduino. This was further interfaced with RC remote and Mobile phone enabling wireless control of the device.</p> 
    </li>
 </article>
</div>


















