<!-- _includes/image.html -->
<center>
<div class="image-wrapper">
    {% if include.url %}
    <a href="{{ include.url }}" title="{{ include.title }}">
    {% endif %}
        <img align="middle" src="{{ site.url }}/{{ include.img }}" alt="{{ include.title }}" style="border: 2px solid black;"/>
    {% if include.url %}
    </a>
    {% endif %}
    {% if include.caption %}
        <p align="center" class="image-caption" style="font-size:14px;">{{ include.caption }}</p>
    {% endif %}
</div>
</center>
